@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@import url(c:\Users\user\Documents\crestaHighGrade\css\destyle.css);
/************
common
************/
.works-culture__background {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.margin-left-30px, .middle-contents__about-whitebox--title, .middle-contents__about-whitebox--description, .middle-contents__about-whitebox--button {
  margin-left: 30px !important;
}

.middle-contents-margin-top {
  margin-top: 220px !important;
}

.works-culture-margin-top {
  margin-top: 80px !important;
}

.latest-topics-margin-top {
  margin-top: 120px !important;
}

.contact-margin-top {
  margin-top: 60px !important;
}

body {
  margin: 0;
}

/***************
component
***************/
/********************
$works-culture
********************/
/**********
button-common-design
***********/
/***********
middle-contents
***********/
.header {
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  position: absolute;
  top: 30px;
  left: 4vw;
  z-index: 1;
  background-image: url(../img/site-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__main-title--anker {
  width: 260px;
  height: 29px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
  }
  .header__main-title--anker {
    width: 189px;
    height: 21px;
  }
}

@media screen and (max-width: 375px) {
  .header {
    max-width: 375px;
  }
}

/***************
component
***************/
/********************
$works-culture
********************/
/**********
button-common-design
***********/
/***********
middle-contents
***********/
.first-view {
  width: 100%;
  position: relative;
  margin: 0 auto;
  z-index: -1;
}

.first-view__image {
  width: 1100px;
  height: 640px;
  background-image: url(../img/header__image.png);
  background-repeat: no-repeat;
  background-position: center 0;
}

.first-view__image::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 1100px;
  height: 640px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.first-view__right-box {
  width: 52vw;
  height: 740px;
  background-color: #000;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.first-view__message {
  position: absolute;
  width: 292px;
  right: 10rem;
  top: 10rem;
  color: #fff;
}

.first-view__message--upper-text {
  font-size: 20px;
  font-family: "游ゴシック体", YuGothic;
}

.first-view__message--middle-text {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.first-view__message--bottom-text {
  font-size: 72px;
  line-height: calc(86em / 72);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .first-view {
    max-width: 768px;
  }
  .first-view__image {
    width: 600px;
    height: 890px;
    background-size: cover;
  }
  .first-view__image::after {
    width: 600px;
    height: 890px;
  }
  .first-view__right-box {
    width: 562px;
    height: 1024px;
  }
  .first-view__message {
    right: 1rem;
  }
  .first-view__message--upper-text {
    font-size: 16px;
    font-family: "游ゴシック体", YuGothic;
  }
  .first-view__message--middle-text {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  .first-view__message--bottom-text {
    font-size: 56px;
    line-height: calc(56em / 53);
  }
}

@media screen and (max-width: 375px) {
  .first-view {
    max-width: 375px;
  }
  .first-view__image {
    width: 287px;
    height: 580px;
  }
  .first-view__image::after {
    width: 287px;
    height: 580px;
  }
  .first-view__right-box {
    width: 283px;
    height: 667px;
  }
  .first-view__message {
    right: 0;
  }
  .first-view__message--upper-text {
    font-size: 16px;
    font-family: "游ゴシック体", YuGothic;
  }
  .first-view__message--middle-text {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  .first-view__message--bottom-text {
    font-size: 56px;
    line-height: calc(56em / 53);
  }
}

/***************
component
***************/
/********************
$works-culture
********************/
/**********
button-common-design
***********/
/***********
middle-contents
***********/
/************
common
************/
.works-culture__background {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.margin-left-30px, .middle-contents__about-whitebox--title, .middle-contents__about-whitebox--description, .middle-contents__about-whitebox--button {
  margin-left: 30px !important;
}

.middle-contents-margin-top {
  margin-top: 220px !important;
}

.works-culture-margin-top {
  margin-top: 80px !important;
}

.latest-topics-margin-top {
  margin-top: 120px !important;
}

.contact-margin-top {
  margin-top: 60px !important;
}

/***************
component
***************/
/********************
$works-culture
********************/
/**********
button-common-design
***********/
/***********
middle-contents
***********/
.button-common-design, .middle-contents__about-whitebox--button, .works-culture__boxes--left__button, .works-culture__boxes--right__button, .latest-topics__button, .contact__message-box-button {
  width: 160px;
  height: 36px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.middle-contents {
  position: relative;
  width: 1100px;
  height: 607px;
  background-image: url(../img/about-img.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-contents__about-whitebox {
  background-color: #fff;
  width: 590px;
  height: 387px;
  top: 0;
  left: 0;
  opacity: GetSiteColor(aboutUsBackGroundOpacity);
  margin-left: calc((50 / 1100) * 100%);
}

.middle-contents__about-whitebox--title {
  padding-top: 50px;
  font-size: 32px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.middle-contents__about-whitebox--description {
  max-width: 530px;
  font-size: 16px;
  line-height: calc(32em / 16);
  letter-spacing: 0;
}

@media screen and (max-width: 768px) {
  .middle-contents {
    max-width: 768px;
  }
}

@media screen and (max-width: 375px) {
  .middle-contents {
    max-width: 375px;
  }
  .middle-contents__about-whitebox {
    width: 345px;
  }
  .middle-contents__about-whitebox--description {
    width: 300px;
    margin: 0;
    font-size: 14px;
    height: 211px;
  }
}

/***************
component
***************/
/********************
$works-culture
********************/
/**********
button-common-design
***********/
/***********
middle-contents
***********/
/************
common
************/
.works-culture__background {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.margin-left-30px, .middle-contents__about-whitebox--title, .middle-contents__about-whitebox--description, .middle-contents__about-whitebox--button {
  margin-left: 30px !important;
}

.middle-contents-margin-top {
  margin-top: 220px !important;
}

.works-culture-margin-top {
  margin-top: 80px !important;
}

.latest-topics-margin-top {
  margin-top: 120px !important;
}

.contact-margin-top {
  margin-top: 60px !important;
}

/***************
component
***************/
/********************
$works-culture
********************/
/**********
button-common-design
***********/
/***********
middle-contents
***********/
.button-common-design, .middle-contents__about-whitebox--button, .works-culture__boxes--left__button, .works-culture__boxes--right__button, .latest-topics__button, .contact__message-box-button {
  width: 160px;
  height: 36px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.works-culture {
  position: relative;
}

.works-culture__background {
  background-color: #f0f0f0;
  width: 1440px;
  height: 770px;
  top: -180px;
  z-index: -1;
}

.works-culture__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.works-culture__boxes .works-culture__boxes--left, .works-culture__boxes .works-culture__boxes--right {
  width: 520px;
  height: 531px;
}

.works-culture__boxes--left__title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}

.works-culture__boxes--left__image {
  background-image: url(../img/works.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 520px;
  height: 350px;
}

.works-culture__boxes--left__description {
  font-size: 16px;
  letter-spacing: 0;
  line-height: calc(94rem / 16);
}

.works-culture__boxes--right__title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}

.works-culture__boxes--right__image {
  background-image: url(../img/culture.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 520px;
  height: 350px;
}

.works-culture__boxes--right__description {
  font-size: 16px;
  letter-spacing: 0;
  line-height: calc(94rem / 16);
}

@media screen and (max-width: 768px) {
  .works-culture {
    max-width: 768px;
  }
  .works-culture__boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 60px;
    max-width: 768px;
    width: 768px;
  }
  .works-culture__boxes--left {
    margin: 0;
    margin-left: 30px;
  }
  .works-culture__boxes--right {
    margin: 0;
    margin-left: 30px;
    margin-top: 80px;
  }
  .works-culture__background {
    width: 768px;
    height: 1242px;
    top: 0;
  }
  .works-culture-margin-top {
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 375px) {
  .works-culture {
    max-width: 375px;
  }
  .works-culture__background {
    width: 375px;
    height: 1005px;
  }
  .works-culture__boxes {
    width: 345px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .works-culture__boxes--left {
    width: 345px !important;
    height: 441px !important;
    margin: 0 5%;
  }
  .works-culture__boxes--left__image {
    width: 335px;
    height: 222px;
  }
  .works-culture__boxes--right {
    width: 345px !important;
    height: 441px !important;
    margin: 0 5%;
  }
  .works-culture__boxes--right__image {
    width: 335px;
    height: 222px;
  }
}

/***************
component
***************/
/********************
$works-culture
********************/
/**********
button-common-design
***********/
/***********
middle-contents
***********/
/***************
component
***************/
/********************
$works-culture
********************/
/**********
button-common-design
***********/
/***********
middle-contents
***********/
.button-common-design, .middle-contents__about-whitebox--button, .works-culture__boxes--left__button, .works-culture__boxes--right__button, .latest-topics__button, .contact__message-box-button {
  width: 160px;
  height: 36px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.latest-topics {
  width: 1100px;
  margin: 0 auto;
}

.latest-topics__title {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.latest-topics__topic-box {
  width: 700px;
  margin: 0 0 0 auto;
}

.latest-topics__topic-box dt {
  font-size: 10px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #cecece;
  letter-spacing: calc(15em / 1000);
  line-height: calc(32 / 10);
}

.latest-topics__topic-box dd {
  font-size: 14px;
  margin-top: 9px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.latest-topics__button {
  margin: 30px 0 0 auto;
}

@media screen and (max-width: 768px) {
  .latest-topics {
    width: 768px;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .latest-topics__topic-box {
    margin: 0;
  }
  .latest-topics__button {
    margin: 30px auto 0 0;
  }
}

@media screen and (max-width: 375px) {
  .latest-topics {
    width: 375px;
    padding-left: 5%;
  }
  .latest-topics__topic-box {
    width: 345px;
  }
}

/***************
component
***************/
/********************
$works-culture
********************/
/**********
button-common-design
***********/
/***********
middle-contents
***********/
/***************
component
***************/
/********************
$works-culture
********************/
/**********
button-common-design
***********/
/***********
middle-contents
***********/
.button-common-design, .middle-contents__about-whitebox--button, .works-culture__boxes--left__button, .works-culture__boxes--right__button, .latest-topics__button, .contact__message-box-button {
  width: 160px;
  height: 36px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.contact {
  width: 1440px;
  min-height: 570px;
  background-color: #f2f2f2;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__message-box {
  width: 440px;
  margin-right: 80px;
  margin-top: 60px;
}

.contact__message-box > div {
  margin-bottom: 30px;
}

.contact__message-box-title {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.contact__message-box-description {
  font-size: 16px;
  line-height: calc(32 / 16);
}

.contact__image {
  background-image: url(../img/contact.png);
  background-repeat: no-repeat;
  width: 580px;
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .contact {
    width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .contact__image {
    z-index: 2;
    width: 520px;
    height: 350px;
  }
}

@media screen and (max-width: 375px) {
  .contact {
    width: 375px;
    padding-left: 5%;
  }
  .contact__image {
    width: 345px;
    height: 232px;
    background-size: cover;
  }
  .contact__message-box {
    width: 345px;
    padding: 0;
    margin-top: 27px;
  }
}

.footer {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: #525252;
  color: white;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 768px;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    width: 375px;
  }
}

body.no-scroll {
  overflow: hidden;
}

.humburger-menu__nav {
  display: none;
}

.humburger-menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  text-align: center;
  width: 32px;
  height: 22px;
  right: 4vw;
  top: 6px;
}

.humburger-menu__button span {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.humburger-menu__button span:nth-child(1) {
  top: 10px;
}

.humburger-menu__button span:nth-child(2) {
  top: 20px;
}

.humburger-menu__button span:nth-child(3) {
  top: 30px;
}
/*# sourceMappingURL=style.css.map */