scss/component/コンポーネントBlock定義(ボタンや見出しなど).txt
scss/external/外部クラス定義用.txt
scss/foundation/リセットCSSの役割.txt
scss/function/関数やmixinの定義.txt
scss/layout/レイアウトBlock定義(インナー幅など).txt
scss/project/プロジェクトBlock定義(その他Block全て).txt
