/***************
component
***************/

$Size: (
	commonButton:(
		width: 160px,
		height: 36px,
	),

	header:(
		width: 1440px,
		maxWidth: 1440px,
		mainTitleWidth: 260px,
		mainTitleHeight: 29px,
		tabletMaxWidth: 768px,
	),

	firstView:(
		width: 1440px,
		maxWidth: 1440px,
		imageWidth: 1100px,
		imageHeight: 640px,
		rightBoxWidth: 780px,
		rightGBoxHeight: 740px,
		messageWidth: 292px,
		messageTopPosition: 10rem,
		messageRightPosition: 10rem,
		tabletWidth:768px,
		tabletImageWidth: 600px,
		tableImageHeight: 890px,
		tabletRightBoxHeight:1024px,
	),

	middleContents:(
		width: 1100px,
		height: 607px,
		tableWidth:768px,
	),

	worksCulture:(
		width: 1100px,
		commonBoxesWidth: 520px,
		commonBoxesHeight: 531px,
	),

);


$middle-contents-about-width: 1100px;
$middle-contents-about-height: 607px;

$middle-contents-about-whitebox-width: 590px;
$middle-contents-about-whitebox-height: 387px;

$middle-contents-about-whitebox-description-max-width: 530px;

/********************
$works-culture
********************/

$works-culture-background-width: 1440px;
$works-culture-background-height: 770px;

$works-culture-boxes-width: 1100px;
