$size-20px: 20px;

%__font-size-20px{
	font-size: $size-20px;
}

/**********
button-common-design
***********/

$button-common-font-size: 12px;
$button-common-font-weight: bold;


/***********
middle-contents
***********/

$middle-contents-about-whitebox--title-font-size:32px;
$middle-contents-about-whitebox--title-font-weight: bold;
