/************
common
************/

$zIndex: (
	rayerM1: -1,
	rayerGrand: 0,
	rayerP1: 1,
);

$middle-contents-margin-top: 220px;

$works-culture-margin-top :80px;

$works-culture-positon-top: -100px;

$latest-topics_margin-top: 120px;

%__absolute-LR-center{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.margin-left-30px{
	margin-left: 30px;
}

.middle-contents-margin-top{
	margin-top: $middle-contents-margin-top !important;
}

.works-culture-margin-top{
	margin-top: $works-culture-margin-top !important;
}

.latest-topics-margin-top{
	margin-top: $latest-topics_margin-top !important;
}