@import "../setting/color";
@import "../setting/position";
@import "../setting/size";
@import "../setting/typography";
@import "../function/function.scss";
@import "../component/component.scss";

.contact {
	width: 1440px;
	height: 570px;
	background-color: #f2f2f2;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	padding-top: 60px;

	&__message-box {
		width: 440px;
		padding-top: 72px;
		margin-right: 80px;

		> div {
			margin-bottom: 30px;
		}

		&-title {
			font-size: 32px;
			font-family: $MontserratFontFamily;
			font-weight: bold;
		}

		&-description {
			font-size: 16px;
			line-height: calc(32 / 16);
		}

		&-button {
			@extend .button-common-design;
		}
	}

	&__image {
		background-image: url(../img/contact.png);
		background-repeat: no-repeat;
		width: 580px;
		height: 390px;
		//margin-top: 60px;
		padding-top: 60px;
	}
}

@media screen and (max-width: 768px) {
	.contact {
		width: 768px;
		flex-direction: column-reverse;
		padding-left: 30px;
		box-sizing: border-box;

		&__image {
			z-index: 2;
			width: 520px;
			height: 350px;
		}
	}
}

@media screen and (max-width: 375px) {
	.contact{
		width: 375px;
		padding-left: 5%;

		&__image{
			width: 345px;
			height: 232px;
			background-size: cover;
		}

		&__message-box{
			width: 345px;
			padding: 0;
			margin-top: 27px;
		}
	}
	
}