@import "../setting/color";
@import "../setting/size";
@import "../setting/typography";

.first-view{
	max-width: $first-view-max-width;
	position: relative;
	margin: 0 auto;

	&__image{
		background-image: url(/img/header__image.png);
		background-repeat: no-repeat;
		background-position: center 0;

		width: $ifrst-view-image-width;
		height: $first-view-image-height;
		background-color: $color-black;

		&::after{
			content: '';
			background-color: $first-view-image-after-color;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			height: $first-view-image-height;
		}
	}

	&__right-box{
		width: $first-view-right-box-width;
		height: $first-view-right-box-height;
		background-color: $color-black;
		position: absolute;
		right: 0;
		top:0;
		z-index: -1;
	}

	&__message{
		position: absolute;

		right: $first-view-message-right-position;
		top: $first-view-message-top-position;

		color: $color-white;

		&--upper-text{
			@extend %__font-size-20px;
		}

		&--middle-text{
			@extend %__font-size-20px;
		}

		&--bottom-text{
			font-size: 72px;
			line-height: calc(86em / 72);
		}
	}

}