@import "../setting/color";
@import "../setting/size";
@import "../setting/typography";
@import "../setting/position";
@import "../function/function.scss";

.first-view {
	width: GetSize(firstView, width);
	//max-width: GetSize(firstView, maxWidth);
	position: relative;
	margin: 0 auto;
	z-index: -1;

	&__image {
		width: GetSize(firstView, imageWidth);
		height: GetSize(firstView, imageHeight);
		background-image: url(../img/header__image.png);
		background-repeat: no-repeat;
		background-position: center 0;

		&::after {
			content: "";
			background-color: GetColor(firstViewOverLay);
			width: GetSize(firstView, imageWidth);
			height: GetSize(firstView, imageHeight);
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}

	&__right-box {
		width: GetSize(firstView, rightBoxWidth);
		height: GetSize(firstView, rightGBoxHeight);
		background-color: GetColor(black);
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
	}

	&__message {
		position: absolute;
		width: GetSize(firstView, messageWidth);

		right: GetPosition(firstView, pcMessageRight);
		top: GetPosition(firstView, top);

		color: GetColor(white);

		&--upper-text {
			font-size: 20px;
			font-family: $fontFamilyYuGochic;
		}

		&--middle-text {
			font-size: 20px;
			font-family: $MontserratFontFamily;
		}

		&--bottom-text {
			font-size: 72px;
			line-height: calc(86em / 72);
			font-family: $MontserratFontFamily;
			font-weight: 800;
		}
	}
}

@media screen and (max-width: 768px) {
	.first-view {
		max-width: GetSize(firstView, tabletMaxWidth);

		&__image {
			width: GetSize(firstView, tabletImageWidth);
			height: GetSize(firstView, tableImageHeight);
			background-size: cover;

			&::after {
				width: GetSize(firstView, tabletImageWidth);
				height: GetSize(firstView, tableImageHeight);
			}
		}

		&__right-box {
			width: GetSize(firstView, tabletRightBoxWidth);
			height: GetSize(firstView, tabletRightBoxHeight);
		}

		&__message {
			right: GetPosition(firstView, tableMessageRight);

			&--upper-text {
				font-size: 16px;
				font-family: $fontFamilyYuGochic;
			}

			&--middle-text {
				font-size: 16px;
				font-family: $MontserratFontFamily;
			}

			&--bottom-text {
				font-size: 56px;
				line-height: calc(56em / 53);
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.first-view {
		max-width: GetSize(firstView, spMaxWidth);

		&__image {
			width: GetSize(firstView, spImageWidth);
			height: GetSize(firstView, spImageHeight);

			&::after {
				width: GetSize(firstView, spImageWidth);
				height: GetSize(firstView, spImageHeight);
			}
		}

		&__right-box {
			width: GetSize(firstView, spRightBoxWidth);
			height: GetSize(firstView, spRightBoxHeight);
		}

		&__message {
			right: GetPosition(firstView, spMessageRight);

			&--upper-text {
				font-size: 16px;
				font-family: $fontFamilyYuGochic;
			}

			&--middle-text {
				font-size: 16px;
				font-family: $MontserratFontFamily;
			}

			&--bottom-text {
				font-size: 56px;
				line-height: calc(56em / 53);
			}
		}
	}
}
