.footer {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	background-color: #525252;
	color: white;
}

@media screen and (max-width: 768px) {
	.footer {
		width: 768px;
	}
}

@media screen and (max-width: 375px) {

	.footer {
		width: 375px;
	}
	
}