@import url(../setting/_size.scss);

.header{
	max-width: 1440px;
	width: 1440px;
	// height: 640px;
	position: relative;
	background-color: #000;
	margin: 0 auto;

	&__main-title{
		width: 260px;
		height: 58px;
		z-index: 1;

		background-image: url(/img/site-logo.png);
		background-repeat: no-repeat;

		position: absolute;
		top: 30px;
		left: 4vw;

		&--anker{
			height: 200px;
		}
	}
	&__nav{

		display: none;

		&-list{

		}

	}
}