@import "../setting/color";
@import "../setting/position";
@import "../setting/size";
@import "../setting/typography";
@import "../function/function.scss";

.header{
	width: GetSize(header,width);
	max-width: GetSize(header,maxWidth);
	background-color: GetColor(black);
	position: relative;
	top: GetPosition(header,top);
	margin: 0 auto;
	display: flex;

	&__main-title{
		display: flex;
		margin: 0;

		position: absolute;
		top: GetPosition(header,mainTitleTop);
		left: GetPosition(header,mainTitleLeft);

		z-index: 1;

		background-image: url(/img/site-logo.png);
		background-repeat: no-repeat;

		&--anker{
			width: GetSize(header,mainTitleWidth);
			height: GetSize(header,mainTitleHeight);
			cursor: pointer;
		}
	}
	&__nav{

		display: none;

		&-list{

		}

	}
}