@import "../setting/size";
@import "../setting/color";
@import "../setting/typography";
@import "../layout/layout.scss";
@import "../component/component.scss";
@import "../function/function.scss";

.middle-contents{

	position: relative;
	width: GetSize(middleContents,width);
	height: GetSize(middleContents,height);
	background-image: url(../img/about-img.png);
	display: flex;
	margin: 0 auto;
	align-items: center;

	&__about{

		&-whitebox{
			background-color: GetColor(white);
			width: $middle-contents-about-whitebox-width;
			height: $middle-contents-about-whitebox-height;
			top: 0;
			left: 0;
			opacity: GetSiteColor(aboutUsBackGroundOpacity);
			margin-left: calc((50 / 1100) * 100%);


			&--title{
				@extend .margin-left-30px;
				padding-top: 50px;
				font-size: $middle-contents-about-whitebox--title-font-size;
				font-weight: $middle-contents-about-whitebox--title-font-weight;
				font-family: $MontserratFontFamily;
			}

			&--description{
				@extend .margin-left-30px;
				max-width: $middle-contents-about-whitebox-description-max-width;
				font-size: 16px;
				line-height: calc(32em / 16);
				letter-spacing: 0;
			}

			&--button{
				@extend .margin-left-30px;
				@extend .button-common-design;

			}
		}
		// end of whitebox
	}
	// end of about
}

@media screen and (max-width:768px){
	.middle-contents{
		max-width: GetSize(middleContents,tableWidth);
	}
}

@media screen and (max-width:375px) {
	.middle-contents{
		max-width: GetSize(middleContents,spWidth);

		&__about{

			&-whitebox{
				width: 345px;
				margin: 0 auto;

				&--description{
					margin: 0;
					font-size: 14px;
					height: GetSize(middleContents,spWhiteBoxDescriptionHeight);
				}
			}
		}
	}
}