@import "../setting/color";
@import "../setting/size";
@import "../setting/typography";
@import "../layout/layout.scss";
@import "../function/function.scss";

.works-culture{
	position: relative;

	&__background{
		@extend %__absolute-LR-center;
		background-color: GetColor(worksCultureBackGround);
		width: $works-culture-background-width;
		height: $works-culture-background-height;
		top: ($works-culture-positon-top - $works-culture-margin-top);
		z-index: map-get($map: $zIndex, $key: rayerM1);
	}

	&__boxes{

		display: flex;
		justify-content: space-between;
		width: $works-culture-boxes-width;
		margin: 0 auto;

		%__boxes-common{
			width: GetSize(worksCulture,commonBoxesWidth);
			height: GetSize(worksCulture,commonBoxesHeight);
		}
	
		&--left{
			@extend %__boxes-common;

			&__title{
				font-size: 32px;
				font-weight: bold;
			}

			&__image{
				background-image: url(/img/works.png);
				width: 520px;
				height: 350px;
			}
		}

		&--right{
			@extend %__boxes-common;

			&__title{
				font-size: 32px;
				font-weight: bold;
			}
		}
	}

}
